.select__current-value {
  padding: 8px 16px 8px 16px;
  display: flex;
  align-items: center;
  max-width: 72px;

  &::after {
    position: relative;
    left: 10px;
  }
}
.select {
  margin-left: 16px;
  position: relative;
}
.select__dropdown {
  position: absolute;
  top: 36px;
  border-radius: 6px;
  min-width: 69px;
  padding: 6px 14px;
  font-weight: 500;
  cursor: pointer;
  right: 0;
  background: #fff;
  box-shadow: 0 4px 10px #00000042;
  transition: all .05s;
  visibility: hidden;
  opacity: 0;
  z-index: 9;
}
.select:hover {
  .select__dropdown  {
    top: 42px;
    visibility: visible;
    opacity: 1;
  }
}
.select__dropdown-item {
  padding: 2px 0;

  &:hover {
    text-decoration: underline;
  }
}