.search__btn {
  border: none;
  background: none;
  outline: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 42px;
  width: 42px;
  cursor: pointer;
}

.search {
  width: calc(33.33% - 30px);
  margin-right: 32px;
}
.search__input {
  width: 100%;
  padding: 9px 40px 9px 16px;
}